<%= form_with(model: pospost, local: true) do |form| %>
  <% if pospost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pospost.errors.count, "error") %> prohibited this pospost from being saved:</h2>

      <ul>
      <% pospost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :latitud %>
    <%= form.text_field :latitud, id: :pospost_latitud %>
  </div>

  <div class="field">
    <%= form.label :longitud %>
    <%= form.text_field :longitud, id: :pospost_longitud %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :pospost_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
