<p id="notice"><%= notice %></p>

<h1>Posposts</h1>

<table>
  <thead>
    <tr>
      <th>Latitud</th>
      <th>Longitud</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posposts.each do |pospost| %>
      <tr>
        <td><%= pospost.latitud %></td>
        <td><%= pospost.longitud %></td>
        <td><%= pospost.user_id %></td>
        <td><%= link_to 'Show', pospost %></td>
        <td><%= link_to 'Edit', edit_pospost_path(pospost) %></td>
        <td><%= link_to 'Destroy', pospost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pospost', new_pospost_path %>
