<p id="notice"><%= notice %></p>

<p>
  <strong>Latitud:</strong>
  <%= @pospost.latitud %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @pospost.longitud %>
</p>

<p>
  <strong>User:</strong>
  <%= @pospost.user_id %>
</p>

<%= link_to 'Edit', edit_pospost_path(@pospost) %> |
<%= link_to 'Back', posposts_path %>
